mixin feedback()
  .feedback
    .feedback__wrapper
      h2.feedback__title.feedback__title--tablet Онлайн-бронирование
      .feedback__restoplace Restoplace
      .feedback__form
        h2.feedback__title Онлайн-бронирование
        p.feedback__description Номер шезлонга: <span>выберите на&nbsp;схеме</span>
        form(method="post")
          .feedback__inputs
            +custom-input({
              type: "text",
              name: "name",
              placeholder: "Имя Фамилия"
            }).feedback__input
            +custom-input({
              type: "tel",
              name: "phone",
              placeholder: "Номер телефона"
            }).feedback__input
          +custom-checkbox({
            name: "agreement",
            label: "Согласие на&nbsp;обработку <span>персональных данных</span>",
            checked: "true"
          }).feedback__agreement
          .feedback__buttons
            .feedback__button-wrapper
              +btn({type: "button", text: 'Свяжитесь со&nbsp;мной'}).btn--white
              span.feedback__text После заполнения формы мы&nbsp;свяжемся с&nbsp;Вами для уточнения деталей бронирования
            .feedback__button-wrapper
              +btn({type: "button", text: 'Свяжитесь со&nbsp;мной'})
              span.feedback__text Вы&nbsp;будете переведны на&nbsp;страницу оплаты
