mixin popup()
  .popup&attributes(attributes)
    span.popup__triangle(data-triangle)
      +icon("icon-triangle", 42, 24)
    button.btn-reset.popup__close-button(type="button" arial-label="Закрыть попап" data-close-popup)
      +icon("icon-close", 34, 34)
    .popup__wrapper
      h2.popup__title.popup__title--mobile Малые бунгало
      .popup__slider.swiper(data-slider="popup")
        .popup__slides.swiper-wrapper
          .popup__slide.swiper-slide
            .popup__image
              +img("content", "bungalow", "webp", 638, 310, "Бунгало")
          .popup__slide.swiper-slide
            .popup__image
              +img("content", "bungalow", "webp", 638, 310, "Бунгало")
          .popup__slide.swiper-slide
            .popup__image
              +img("content", "bungalow", "webp", 638, 310, "Бунгало")
          .popup__slide.swiper-slide
            .popup__image
              +img("content", "bungalow", "webp", 638, 310, "Бунгало")
        button.btn-reset.popup__control.popup__control--prev(aria-label="Предыдущий слайд" data-button-prev)
          +icon("icon-arrow-left", 44, 44)
        button.btn-reset.popup__control.popup__control--next(aria-label="Следующий слайд" data-button-next)
          +icon("icon-arrow-right", 44, 44)
      .popup__info
        .popup__title-wrapper
          h2.popup__title Малые бунгало
          +btn({type: "button", text: "Забронировать"}).popup__button(data-open-modal="feedback")
          p.popup__time Время работы: с&nbsp;9&nbsp;до&nbsp;21
        .popup__content
          p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на&nbsp;русском языке, а&nbsp;начинающему оратору отточить навык. При создании генератора мы&nbsp;использовали небезизвестный универсальный. При создании генератора мы&nbsp;использовали небезизвест. При создании генератора мы&nbsp;использовали небезизвестный.При создании генератора мы&nbsp;использовали небезизвестный.генератора мы&nbsp;использовали небезизвестный универсальный. При создании генератора мы&nbsp;использовали небезизвестный.
          a(href="#") Меню ресторана

