.main-nav {
  &__phone {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-spun-pearl;

    transition: color $trans-default;

    @include hover-focus {
      color: $color-default-white;
    }

    @include active {
      color: $color-default-white;
    }
  }
}
