@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "TT Norms Pro";

  font-display: swap;
  src:
    url("../fonts/TTNormsPro-Light.woff2") format("woff2"),
    url("../fonts/TTNormsPro-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "TT Norms Pro";

  font-display: swap;
  src:
    url("../fonts/TTNormsPro-Regular.woff2") format("woff2"),
    url("../fonts/TTNormsPro-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "TT Norms Pro";

  font-display: swap;
  src:
    url("../fonts/TTNormsPro-Medium.woff2") format("woff2"),
    url("../fonts/TTNormsPro-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "TT Norms Pro";

  font-display: swap;
  src:
    url("../fonts/TTNormsPro-Bold.woff2") format("woff2"),
    url("../fonts/TTNormsPro-Bold.woff") format("woff");
}
