mixin header(headerMods, currentUrl)
  header.header(class=headerMods data-header)
    .container
      .header__wrapper
        a.header__logo(href="index.html", aria-label="Переход на главную")
          img(src="img/content/logo.webp" width="193" height="44" alt="Логотип Остров")
        nav.main-nav
          a.main-nav__phone(href="tel:88004444541") 8 800 444 45 41

